.loginPanel{
    text-align: center;
    margin-top: 20px;
}
.RegisterPanel{
    text-align: center;
    margin-top: 20px;
}
.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}
.red {
    color: red;
}
